@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body{
  width: 90%;
  margin: auto;
  background-color: #191d28;
}
body.active{
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

nav h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #6ccacb;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}

nav div .buy {
  border: none;
  height: 40px;
  width: 8.5rem;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  background-color: #2e3241;
  color: white;
}

nav div .buy.active{
  background-color: #f8f9fa;
  color: black;
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: black;
  border: none;
  height: 40px;
  width: 4.5rem;
  padding: 2px 10px;

  font-size: 18px;
  font-weight: 500;
  /* background-color: #f8f9fa; */
}
.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  /* background-color: #f8f9fa; */
  background-color: #2e3241;
  padding: 0 10px;
  padding-top: 5px;
  font-weight: 400;
  color: white;
}

.styledSelect.light{
  background-color: #f8f9fa;
  color: black;
}
.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  /* border-color: black transparent transparent transparent; */
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 17px;
  right: 6px;
}

.styledSelect.light::after{
  border-color: black transparent transparent transparent;
}
.styledSelect:active,
.styledSelect.active {
  border: 1px solid white;
  box-shadow: 0 1px 2px white;
}

.styledSelect:active.light,
.styledSelect.active.light{
  border: 1px solid #2e3241;
  box-shadow: 0 1px 2px #2e3241;
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #2e3241;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100px;
  border-radius: 5px;
}

.options.active{
  background-color: white;
}
.options li {
  padding: 0 6px;
  margin: 0 0;
  padding: 0 10px;
  color: white;
}

.options.active li{
  color: #181b26;
}
.options li:hover {
  background-color: #272932;
  color: white;
}
.options.active li:hover{
  background-color: #f8f9fa;
  color: #181b26;
}


.telegram {
  border: none;
  height: 40px;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  background-color: #3dc6c1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.telegram img{
 width: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(237, 230, 230);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #3dc6c1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2e3241;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.circle{
   position: relative;
   width: 48px;
   height: 48px;
  }

.circle svg {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 4;
  stroke-linecap: round;
  stroke: gray;
  transform: translate(5px, 5px);
}

.circle svg circle:nth-child(2){
  stroke: #3dc6c1;
  stroke-dasharray: 440;
}

.circle p {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #3dc6c1;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.state h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #9193ac;
}

.state>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem 0; */
}

.state>div div p:nth-child(1){
  font-size: 2.5rem;
  color: #3dc6c1;
  font-weight: 500;
  transform: scale(.7, 1);
}

.state>div div p:nth-child(2){
  text-align: center;
  font-size: 1.3rem;
  color: #9193ac;
  transform: scale(.7, 1);
}


.state>div div:nth-child(3) p{
  color: white;
  font-size: 5rem;
}
#total.active{
  color: black;
}

.state p{
  text-align: center;
  color: #9193ac;
}


table {
  border-collapse: separate;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 1rem;

}


thead{
  color: #9193ac;
  margin-top: 1rem;
}

thead>tr{
  background-color: #191d28;
  color:#9193ac;
  font-size: 24px;
}

#table-head.active{
  background-color: white;
}

tbody tr {
  /* background-color: #f8f8f8; */
  background-color: #2e3241;
  margin: 2rem;
  /* border: 1px solid #ddd; */
  /* padding: .35em; */
  color: white;
  border-radius: 20px;
}

tbody tr.active{
  background-color: #f8f9fa;
  color: black;
}

table th,
table td {
  padding: .925rem;
  text-align: center;
  margin: 3rem 0;
  /* border-right: 1px solid gray; */
  margin-top: 20px;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media only screen and (max-width:700px) {
  nav{
    flex-direction: column;
    gap: 1rem;
  }
  nav h1{
    text-align: center;
  }

  .state h2{
    font-size: 1rem;
  }
  .state p{
    font-size: 1rem;
  }

  .state>div div p:nth-child(1){
    font-size: 1rem;
  }
  
  .state>div div p:nth-child(2){
    font-size: 0.7rem;
  }
  
  
  .state>div div:nth-child(3) p{
    font-size: 2rem;
  }
  #table-area{
    overflow-x: auto;
  }
  thead>tr{
    font-size: 13px;
  }
  thead>tr th{
    width: 120px;
    padding: 0;
  }

}

@media only screen and (max-width:1200px) and (min-width:701px){
  nav{
    flex-direction: column;
    gap: 1rem;
  }
  nav h1{
    text-align: center;
  }
  .state>div div:nth-child(3) p{
    font-size: 3rem;
  }
  #table-area{
    overflow-x: auto;
  }
  thead>tr{
    font-size: 13px;
  }
  thead>tr th{
    width: 120px;
    padding: 0;
  }
}